@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: 'Roboto', sans-serif; */
  @apply transition-all;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  /* font-family: 'Raleway', sans-serif; */
  @apply transition-all;
}

hr{
  @apply border-slate-400;
}

body::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

body::-webkit-scrollbar-thumb{
  background-color: gray;
  @apply rounded-full;
}

.fi{
  display: flex;
}

.icons{
  font-size: 20px;
  cursor: pointer;
}

input, textarea{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.nav-link:hover::after{
  width: 100%;
}

.nav-link-selected.nav-link::after{
  width: 100%;
}

.nav-link{
  text-transform: capitalize;
}

.nav-link-selected{
  font-weight: bold;
}

.nav-link::after{
  content: "";
  @apply bg-slate-900 w-0 h-[2px] absolute top-full left-0 transition-all;
}

/* utilities */

.container1 {
  @apply min-[900px]:px-[5rem] py-6 sm:px-[3rem] px-4;
}

/* .container2 {
  @apply sm:px-[1rem];
} */

/* .container3 {
  @apply sm:px-[1rem];
} */

.no-scrollbar::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #5a636a;
  @apply rounded-full;
}

.display-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  @apply justify-items-center;
}


/* Effects */
.img-hover-effect::after{
  content: '';
  @apply -z-[1] w-full h-full absolute top-0 left-0 bg-white/30 backdrop:blur-sm translate-x-full translate-y-full transition-all duration-300;
}

.img-hover-effect:hover::before,.img-hover-effect:hover::after{
  @apply translate-x-0 translate-y-0;
}

.img-hover-effect::before{
  content: '';
  @apply -z-[1] w-full h-full absolute top-0 left-0 bg-white/30 backdrop:blur-sm -translate-x-full -translate-y-full transition-all duration-300;
}


#slide-show {
  scroll-snap-type: y mandatory;
  /* height: 100vh; */
  @apply overflow-y-scroll h-[89vh] relative no-scrollbar;
}

.slide{
  scroll-snap-align: start;
  @apply w-full h-full relative overflow-hidden;
  
}