@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @apply transition-all;
}

body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  @apply transition-all;
}

body::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

body::-webkit-scrollbar-thumb{
  background-color: #5a636a;
  @apply rounded-full;
}

.container1 {
  @apply min-[900px]:px-[7rem] py-6 sm:px-[3rem] px-[1rem];
}

.container2 {
  @apply sm:px-[1rem];
}


.container3 {
  @apply sm:px-[1rem];
}
/* 
.container2 {
  @apply md:px-[4rem] py-4 sm:px-[2rem] px-[1rem];
}


.container3 {
  @apply md:px-[4rem] sm:px-[2rem] px-[1rem];
} */


.no-scrollbar::-webkit-scrollbar{
  width: 0;
  height: 1px;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #5a636a;
  @apply rounded-full;
}

.fi{
  display: flex;
}

.icons{
  font-size: 20px;
  cursor: pointer;
}

input, textarea{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.nav-link:hover::after{
  width: 100%;
}

.nav-link-selected.nav-link::after{
  width: 100%;
}

.nav-link{
  text-transform: capitalize;
}

.nav-link-selected{
  font-weight: bold;
}

.nav-link::after{
  content: "";
  @apply bg-slate-900 w-0 h-[2px] absolute top-full left-0 transition-all;
}